<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.cnitz.eatthis" >

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".ResterauntList"
            android:label="@string/app_name" >

        </activity>
        <activity
            android:name=".Statistics_Input"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/title_activity_statistics__input"
            android:theme="@style/FullscreenTheme" >
        </activity>
        <activity
            android:name=".StatisticsInput"
            android:label="@string/title_activity_statistics_input" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>
